{% extends "index.html" %}
{% load static %}
{% static "images" as baseurl %}


{% block content %}

<style>
  .memberadd-form textarea {
    width: 100%;
    border: 1px solid #ebedf2;
  }
</style>
<div class="main-panel">
    <div class="content-wrapper pb-0">
        {% for message in messages  %}
              
        <div class="alert {{message.tags}} alert-dismissible fade show "  style="position:fixed;top:100px;z-index:1;"role="alert">
          <strong>Information!</strong> {{message}}
          <button type="button" class="btn btn-close mdi mdi-close text-xxl" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        <div class="page-header flex-wrap">
            <h3 class="mb-0"> Change Subscription <span class="pl-0 h6 pl-sm-2 text-muted d-inline-block">for {{member}}</span>
              <a href="{%url 'MembersSingleView' member.id %}" class="text-info h6">Back To Members</a>
            
            </h3>
        </div>

<div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Change Subscription</h4>
        <form action="" method="post">
            {% csrf_token %}
          <p class="card-description"></p>
          <div class="row">
            {% for field in sub_form %}

            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">{{field.label}}</label>
                <div class="col-sm-9">
                 {{field}}
                </div>
              </div>
            </div>
            {% endfor %}
           
          </div>
          <button type="submit" class="btn btn-primary">Change</button>
          
        </form>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}