{% extends "index.html" %}
{% load static %}
{% static "images" as baseurl %}

{% block content %}

<div class="main-panel">
    <div class="content-wrapper pb-0">
        {% for message in messages  %}

        <div class="alert {{message.tags}} alert-dismissible fade show " style="position:fixed;top:100px;z-index:1;" role="alert">
            <strong>Information!</strong> {{message}}
            <button type="button" class="btn btn-close mdi mdi-close text-xxl" data-bs-dismiss="alert"
                aria-label="Close"></button>
        </div>
        {% endfor %}
        <div class="page-header flex-wrap">
            <h3 class="mb-0"> Search Results <span class="pl-0 h6 pl-sm-2 text-muted d-inline-block"></span>
            </h3>
        </div>

        <div class="row">
            <div class="col-xl-12 col-sm-6 grid-margin stretch-card">
              <div class="card" style="height: 500px;">
                <div class="card-body px-0 overflow-auto">
                  <h4 class="card-title pl-4">Members</h4>
                  <div class="table-responsive">
                    <table class="table">
                      <thead class="bg-light">
                        <tr>
                          <th>Member</th>

                          <th>Subscrption End Date</th>
                          <th>Status</th>
                          <th>View</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for sub in member  %}  
                        <tr>
                          <td>
                            <div class="d-flex align-items-center">
                              {% if sub.Photo %}
                              <img src="{{sub.Photo.url}}" alt="image"  id="photoclient"/>
                              {% else %}
                              <img src="{% static 'assets/images/faces/face1.jpg' %}" alt="image" id="photoclient"/>
                              {% endif %}
                              <div class="table-user-name ml-3">
                                <p class="mb-0 font-weight-medium"> {{sub.First_Name}} {{sub.Last_Name}} </p>
                                {% if sub.Payment_Status == False %}
                                <small class="text-danger"> Payment Not Completed</small>
                                {% else %}
                                <small> Payment Done</small>
      
                                {% endif %}
                              </div>
                            </div>
                          </td>
                     
                          <td>
                            {{sub.Registration_Date}}
                          </td>
                          <td>
                            {% if sub.Active_status == False %}
                            <div class="badge badge-inverse-danger"> Inactive </div>
                            {% else %}
                            <div class="badge badge-inverse-success"> Active </div>
                            {% endif %}
                          </td>
                          <td>
                              <a href="{%url 'MembersSingleView' sub.id %}" class="btn btn-outline-info">View</a>
                          </td>
                        </tr>
                        {% endfor %}
                        
                      </tbody>
                    </table>
                  </div>
                  <a class="text-black mt-3 d-block pl-4" href="#">
                    <!-- <span class="font-weight-medium h6">View all Members</span> -->
                    <!-- <i class="mdi mdi-chevron-right"></i></a> -->
                </div>
              </div>
            </div>
          </div> 
    </div>
</div>
{% endblock %}