{% extends "index.html" %}
{% load static %}
{% static "images" as baseurl %}


{% block content %}

<style>
  .memberadd-form textarea {
    width: 100%;
    border: 1px solid #ebedf2;
  }
  .list-card {
  position: relative;
  /* display: inline-block; */
  /* border-bottom: 1px dotted black; */
}

.list-card .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 10%;
}

.list-card:hover .tooltiptext {
  visibility: visible;
}
</style>

<div class="main-panel">
  <div class="content-wrapper pb-0">
    {% for message in messages  %}
              
            <div class="alert {{message.tags}} alert-dismissible fade show "  style="position:fixed;top:100px;z-index:1;"role="alert">
              <strong>Information!</strong> {{message}}
              <button type="button" class="btn btn-close mdi mdi-close text-xxl" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
    <div class="page-header flex-wrap">
      <h3 class="mb-0"> Staff Details <span class="pl-0 h6 pl-sm-2 text-muted d-inline-block">Staffs.</span>
      </h3>
      <div class="d-flex">
        <!-- <button type="button" class="btn btn-sm bg-white btn-icon-text border">
          <i class="mdi mdi-email btn-icon-prepend"></i> Email </button>
        <button type="button" class="btn btn-sm bg-white btn-icon-text border ml-3">
          <i class="mdi mdi-printer btn-icon-prepend"></i> Print </button> -->
        <button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
          class="btn btn-sm ml-3 btn-success"> <i class="mdi mdi-plus text-lg"></i> Add Staff </button>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-12 col-sm-12 grid-margin stretch-card">
        <div class="card" style="height: 500px;">
          <div class="card-body px-0 overflow-auto">
            <h4 class="card-title pl-4">Staff</h4>
            <div class="table-responsive">
              <table class="table">
                <thead class="bg-light">
                  <tr>
                    <th>Staff Name</th>
                    <th>UserName</th>
                    <th>Role</th>
                    <th>Date of Join</th>
                    <th>Last Login</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  {% for sub in users  %}  
                  <tr>
                    <td>
                      
                         {{sub.first_name}}
                       
                    </td>
                    <td>{{sub.username}}</td>
                    <td>{{sub.groups.all.0.name}}</td>
                    <td>{{sub.date_joined}}</td>
                    <td>
                      {{sub.last_login}}
                    </td>
                    
                    <td>
                        <a data-bs-toggle="modal" data-bs-target="#staticBackdropsubperitype" class="btn btn-outline-danger">Delete</a>

                        <div class="modal fade" id="staticBackdropsubperitype" data-bs-backdrop="static"
                        data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
  
                                <div class="modal-body">
                                    Do you want To delete User ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">No</button>
                                    <a href="{%url 'DeleteStaffUser' sub.id %}" type="button"
                                        class="btn btn-danger">Yes</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </td>
                  </tr>
                  {% endfor %}
                  
                </tbody>
              </table>
            </div>
            <!-- <a class="text-black mt-3 d-block pl-4" href="{%url 'AllMembers' %}">
              <span class="font-weight-medium h6">View all Staffs</span>
              <i class="mdi mdi-chevron-right"></i></a> -->
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>


    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Add Staff</h5>
            <button type="button" class="btn btn-close mdi mdi-close text-xxl" data-bs-dismiss="modal"
              aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <!-- <h4 class="card-title">Horizontal Two column</h4> -->
                  <form class="form-sample memberadd-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p class="card-description">Create Staff</p>
                    <div class="row">
                     
                      <div class="col-md-12">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Staff Name</label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control" required placeholder="Staff Name" name="fname">
                          </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Staff Username</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" required placeholder="Staff Name" name="uname">
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Password</label>
                            <div class="col-sm-9">
                              <input type="password" class="form-control" required placeholder="Password" name="password1">
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Confirm Password</label>
                            <div class="col-sm-9">
                              <input type="password" class="form-control" required placeholder="Confirm password" name="password2">
                            </div>
                          </div>


                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Role</label>
                            <div class="col-sm-9">
                              <select class="form-control" required name="role">
                                <option value="">Select Role</option>
                                <option value="trainer">Trainer</option>
                                <option value="staff">Staff</option>
                              </select>
                            </div>
                          </div>


                      </div>
                      
                    </div>
                   

                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>

        </div>
      </div>
    </div>

    <!-- model dialog end  -->

    <footer class="footer">
      <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © Byteboot Techno Solutions Pvt Ltd</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Developed By <a
            href="https://reddefend.ae/" target="_blank">Byteboot Techno Solutions Pvt Ltd</a></span>
      </div>
    </footer>
  </div>
</div>

{% endblock %}